In [1]:
%load_ext autoreload
%autoreload 2

In [14]:
from phimal_utilities.analysis import load_tensorboard
from phimal_utilities.analysis import check_correct, classify_error, calculate_error
import numpy as np
path = 'data/runs/'

df = load_tensorboard(path)

coeff_keys = [key for key in df.keys() if key[:5] == 'coeff']
true_coeffs = np.zeros((1, 12))
true_coeffs[0, 2] = 0.1
true_coeffs[0, 5] = -1.0

correct = check_correct(df[coeff_keys], true_coeffs)

In [24]:
correct = classify_error(df[coeff_keys], true_coeffs, simple=False)
correct

      Error type
0              3
1              3
2              3
3              3
4              3
...          ...
3046           0
3047           0
3048           0
3049           0
3050           0

[3051 rows x 1 columns]

In [26]:
calculate_error(df[coeff_keys], true_coeffs)

      Relative error
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
...              ...
3046        0.125937
3047        0.125901
3048        0.125863
3049        0.125822
3050        0.125779

[3051 rows x 1 columns]

In [30]:
np.array(1.0) / np.array(0.0)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

inf

In [32]:
np.array(0.0) / np.array(0.0)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

nan